In [1]:
import pandas as pd

df = pd.read_csv('auto-mpg.csv')

In [2]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
# This will remove duplicate rows from the dataframe
df = df.drop_duplicates()
df.shape

(398, 9)

In [5]:
# This will display the unique values in each column of the dataframe
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in {column}: {unique_values}, \nCount of unique values in {column}: {len(unique_values)}")

Unique values in mpg: [18.  15.  16.  17.  14.  24.  22.  21.  27.  26.  25.  10.  11.   9.
 28.  19.  12.  13.  23.  30.  31.  35.  20.  29.  32.  33.  17.5 15.5
 14.5 22.5 24.5 18.5 29.5 26.5 16.5 31.5 36.  25.5 33.5 20.5 30.5 21.5
 43.1 36.1 32.8 39.4 19.9 19.4 20.2 19.2 25.1 20.6 20.8 18.6 18.1 17.7
 27.5 27.2 30.9 21.1 23.2 23.8 23.9 20.3 21.6 16.2 19.8 22.3 17.6 18.2
 16.9 31.9 34.1 35.7 27.4 25.4 34.2 34.5 31.8 37.3 28.4 28.8 26.8 41.5
 38.1 32.1 37.2 26.4 24.3 19.1 34.3 29.8 31.3 37.  32.2 46.6 27.9 40.8
 44.3 43.4 36.4 44.6 40.9 33.8 32.7 23.7 23.6 32.4 26.6 25.8 23.5 39.1
 39.  35.1 32.3 37.7 34.7 34.4 29.9 33.7 32.9 31.6 28.1 30.7 24.2 22.4
 34.  38.  44. ],
Count of unique values in mpg: 129
Unique values in cylinders: [8 4 6 3 5],
Count of unique values in cylinders: 5
Unique values in displacement: [307.  350.  318.  304.  302.  429.  454.  440.  455.  390.  383.  340.
 400.  113.  198.  199.  200.   97.  110.  107.  104.  121.  360.  140.
  98.  232.  225.  250.  351.  258.  122.  116.   79.   88.   71.   72.
  91.   97.5  70.  120.   96.  108.  155.   68.  114.  156.   76.   83.
  90.  231.  262.  134.  119.  171.  115.  101.  305.   85.  130.  168.
 111.  260.  151.  146.   80.   78.  105.  131.  163.   89.  267.   86.
 183.  141.  173.  135.   81.  100.  145.  112.  181.  144. ],
Count of unique values in displacement: 82
Unique values in horsepower: ['130' '165' '150' '140' '198' '220' '215' '225' '190' '170' '160' '95'
 '97' '85' '88' '46' '87' '90' '113' '200' '210' '193' '?' '100' '105'
 '175' '153' '180' '110' '72' '86' '70' '76' '65' '69' '60' '80' '54'
 '208' '155' '112' '92' '145' '137' '158' '167' '94' '107' '230' '49' '75'
 '91' '122' '67' '83' '78' '52' '61' '93' '148' '129' '96' '71' '98' '115'
 '53' '81' '79' '120' '152' '102' '108' '68' '58' '149' '89' '63' '48'
 '66' '139' '103' '125' '133' '138' '135' '142' '77' '62' '132' '84' '64'
 '74' '116' '82'],
Count of unique values in horsepower: 94
Unique values in weight: [3504 3693 3436 3433 3449 4341 4354 4312 4425 3850 3563 3609 3761 3086
 2372 2833 2774 2587 2130 1835 2672 2430 2375 2234 2648 4615 4376 4382
 4732 2264 2228 2046 2634 3439 3329 3302 3288 4209 4464 4154 4096 4955
 4746 5140 2962 2408 3282 3139 2220 2123 2074 2065 1773 1613 1834 1955
 2278 2126 2254 2226 4274 4385 4135 4129 3672 4633 4502 4456 4422 2330
 3892 4098 4294 4077 2933 2511 2979 2189 2395 2288 2506 2164 2100 4100
 3988 4042 3777 4952 4363 4237 4735 4951 3821 3121 3278 2945 3021 2904
 1950 4997 4906 4654 4499 2789 2279 2401 2379 2124 2310 2472 2265 4082
 4278 1867 2158 2582 2868 3399 2660 2807 3664 3102 2875 2901 3336 2451
 1836 2542 3781 3632 3613 4141 4699 4457 4638 4257 2219 1963 2300 1649
 2003 2125 2108 2246 2489 2391 2000 3264 3459 3432 3158 4668 4440 4498
 4657 3907 3897 3730 3785 3039 3221 3169 2171 2639 2914 2592 2702 2223
 2545 2984 1937 3211 2694 2957 2671 1795 2464 2572 2255 2202 4215 4190
 3962 3233 3353 3012 3085 2035 3651 3574 3645 3193 1825 1990 2155 2565
 3150 3940 3270 2930 3820 4380 4055 3870 3755 2045 1945 3880 4060 4140
 4295 3520 3425 3630 3525 4220 4165 4325 4335 1940 2740 2755 2051 2075
 1985 2190 2815 2600 2720 1800 2070 3365 3735 3570 3535 3155 2965 3430
 3210 3380 3070 3620 3410 3445 3205 4080 2560 2230 2515 2745 2855 2405
 2830 3140 2795 2135 3245 2990 2890 3265 3360 3840 3725 3955 3830 4360
 4054 3605 1925 1975 1915 2670 3530 3900 3190 3420 2200 2150 2020 2595
 2700 2556 2144 1968 2120 2019 2678 2870 3003 3381 2188 2711 2434 2110
 2800 2085 2335 2950 3250 1850 2145 1845 2910 2420 2500 2905 2290 2490
 2635 2620 2725 2385 1755 1875 1760 2050 2215 2380 2320 2210 2350 2615
 3230 3160 2900 3415 3060 3465 2605 2640 2575 2525 2735 2865 3035 1980
 2025 1970 2160 2205 2245 1965 1995 3015 2585 2835 2665 2370 2790 2295
 2625],
Count of unique values in weight: 351
Unique values in acceleration: [12.  11.5 11.  10.5 10.   9.   8.5  8.   9.5 15.  15.5 16.  14.5 20.5
 17.5 12.5 14.  13.5 18.5 19.  13.  19.5 18.  17.  23.5 16.5 21.  16.9
 14.9 17.7 15.3 13.9 12.8 15.4 17.6 22.2 22.1 14.2 17.4 16.2 17.8 12.2
 16.4 13.6 15.7 13.2 21.9 16.7 12.1 14.8 18.6 16.8 13.7 11.1 11.4 18.2
 15.8 15.9 14.1 21.5 14.4 19.4 19.2 17.2 18.7 15.1 13.4 11.2 14.7 16.6
 17.3 15.2 14.3 20.1 24.8 11.3 12.9 18.8 18.1 17.9 21.7 23.7 19.9 21.8
 13.8 12.6 16.1 20.7 18.3 20.4 19.6 17.1 15.6 24.6 11.6],
Count of unique values in acceleration: 95
Unique values in model year: [70 71 72 73 74 75 76 77 78 79 80 81 82],
Count of unique values in model year: 13
Unique values in origin: [1 3 2],
Count of unique values in origin: 3
Unique values in car name: ['chevrolet chevelle malibu' 'buick skylark 320' 'plymouth satellite'
 'amc rebel sst' 'ford torino' 'ford galaxie 500' 'chevrolet impala'
 'plymouth fury iii' 'pontiac catalina' 'amc ambassador dpl'
 'dodge challenger se' "plymouth 'cuda 340" 'chevrolet monte carlo'
 'buick estate wagon (sw)' 'toyota corona mark ii' 'plymouth duster'
 'amc hornet' 'ford maverick' 'datsun pl510'
 'volkswagen 1131 deluxe sedan' 'peugeot 504' 'audi 100 ls' 'saab 99e'
 'bmw 2002' 'amc gremlin' 'ford f250' 'chevy c20' 'dodge d200' 'hi 1200d'
 'chevrolet vega 2300' 'toyota corona' 'ford pinto'
 'plymouth satellite custom' 'ford torino 500' 'amc matador'
 'pontiac catalina brougham' 'dodge monaco (sw)'
 'ford country squire (sw)' 'pontiac safari (sw)'
 'amc hornet sportabout (sw)' 'chevrolet vega (sw)' 'pontiac firebird'
 'ford mustang' 'mercury capri 2000' 'opel 1900' 'peugeot 304' 'fiat 124b'
 'toyota corolla 1200' 'datsun 1200' 'volkswagen model 111'
 'plymouth cricket' 'toyota corona hardtop' 'dodge colt hardtop'
 'volkswagen type 3' 'chevrolet vega' 'ford pinto runabout'
 'amc ambassador sst' 'mercury marquis' 'buick lesabre custom'
 'oldsmobile delta 88 royale' 'chrysler newport royal' 'mazda rx2 coupe'
 'amc matador (sw)' 'chevrolet chevelle concours (sw)'
 'ford gran torino (sw)' 'plymouth satellite custom (sw)'
 'volvo 145e (sw)' 'volkswagen 411 (sw)' 'peugeot 504 (sw)'
 'renault 12 (sw)' 'ford pinto (sw)' 'datsun 510 (sw)'
 'toyouta corona mark ii (sw)' 'dodge colt (sw)'
 'toyota corolla 1600 (sw)' 'buick century 350' 'chevrolet malibu'
 'ford gran torino' 'dodge coronet custom' 'mercury marquis brougham'
 'chevrolet caprice classic' 'ford ltd' 'plymouth fury gran sedan'
 'chrysler new yorker brougham' 'buick electra 225 custom'
 'amc ambassador brougham' 'plymouth valiant' 'chevrolet nova custom'
 'volkswagen super beetle' 'ford country' 'plymouth custom suburb'
 'oldsmobile vista cruiser' 'toyota carina' 'datsun 610' 'maxda rx3'
 'mercury capri v6' 'fiat 124 sport coupe' 'chevrolet monte carlo s'
 'pontiac grand prix' 'fiat 128' 'opel manta' 'audi 100ls' 'volvo 144ea'
 'dodge dart custom' 'saab 99le' 'toyota mark ii' 'oldsmobile omega'
 'chevrolet nova' 'datsun b210' 'chevrolet chevelle malibu classic'
 'plymouth satellite sebring' 'buick century luxus (sw)'
 'dodge coronet custom (sw)' 'audi fox' 'volkswagen dasher' 'datsun 710'
 'dodge colt' 'fiat 124 tc' 'honda civic' 'subaru' 'fiat x1.9'
 'plymouth valiant custom' 'mercury monarch' 'chevrolet bel air'
 'plymouth grand fury' 'buick century' 'chevroelt chevelle malibu'
 'plymouth fury' 'buick skyhawk' 'chevrolet monza 2+2' 'ford mustang ii'
 'toyota corolla' 'pontiac astro' 'volkswagen rabbit' 'amc pacer'
 'volvo 244dl' 'honda civic cvcc' 'fiat 131' 'capri ii' 'renault 12tl'
 'dodge coronet brougham' 'chevrolet chevette' 'chevrolet woody'
 'vw rabbit' 'dodge aspen se' 'ford granada ghia' 'pontiac ventura sj'
 'amc pacer d/l' 'datsun b-210' 'volvo 245' 'plymouth volare premier v8'
 'mercedes-benz 280s' 'cadillac seville' 'chevy c10' 'ford f108'
 'dodge d100' 'honda accord cvcc' 'buick opel isuzu deluxe'
 'renault 5 gtl' 'plymouth arrow gs' 'datsun f-10 hatchback'
 'oldsmobile cutlass supreme' 'dodge monaco brougham'
 'mercury cougar brougham' 'chevrolet concours' 'buick skylark'
 'plymouth volare custom' 'ford granada' 'pontiac grand prix lj'
 'chevrolet monte carlo landau' 'chrysler cordoba' 'ford thunderbird'
 'volkswagen rabbit custom' 'pontiac sunbird coupe'
 'toyota corolla liftback' 'ford mustang ii 2+2' 'dodge colt m/m'
 'subaru dl' 'datsun 810' 'bmw 320i' 'mazda rx-4'
 'volkswagen rabbit custom diesel' 'ford fiesta' 'mazda glc deluxe'
 'datsun b210 gx' 'oldsmobile cutlass salon brougham' 'dodge diplomat'
 'mercury monarch ghia' 'pontiac phoenix lj' 'ford fairmont (auto)'
 'ford fairmont (man)' 'plymouth volare' 'amc concord'
 'buick century special' 'mercury zephyr' 'dodge aspen' 'amc concord d/l'
 'buick regal sport coupe (turbo)' 'ford futura' 'dodge magnum xe'
 'datsun 510' 'dodge omni' 'toyota celica gt liftback' 'plymouth sapporo'
 'oldsmobile starfire sx' 'datsun 200-sx' 'audi 5000' 'volvo 264gl'
 'saab 99gle' 'peugeot 604sl' 'volkswagen scirocco' 'honda accord lx'
 'pontiac lemans v6' 'mercury zephyr 6' 'ford fairmont 4'
 'amc concord dl 6' 'dodge aspen 6' 'ford ltd landau'
 'mercury grand marquis' 'dodge st. regis' 'chevrolet malibu classic (sw)'
 'chrysler lebaron town @ country (sw)' 'vw rabbit custom'
 'maxda glc deluxe' 'dodge colt hatchback custom' 'amc spirit dl'
 'mercedes benz 300d' 'cadillac eldorado' 'plymouth horizon'
 'plymouth horizon tc3' 'datsun 210' 'fiat strada custom'
 'buick skylark limited' 'chevrolet citation' 'oldsmobile omega brougham'
 'pontiac phoenix' 'toyota corolla tercel' 'datsun 310' 'ford fairmont'
 'audi 4000' 'toyota corona liftback' 'mazda 626' 'datsun 510 hatchback'
 'mazda glc' 'vw rabbit c (diesel)' 'vw dasher (diesel)'
 'audi 5000s (diesel)' 'mercedes-benz 240d' 'honda civic 1500 gl'
 'renault lecar deluxe' 'vokswagen rabbit' 'datsun 280-zx' 'mazda rx-7 gs'
 'triumph tr7 coupe' 'ford mustang cobra' 'honda accord'
 'plymouth reliant' 'dodge aries wagon (sw)' 'toyota starlet'
 'plymouth champ' 'honda civic 1300' 'datsun 210 mpg' 'toyota tercel'
 'mazda glc 4' 'plymouth horizon 4' 'ford escort 4w' 'ford escort 2h'
 'volkswagen jetta' 'renault 18i' 'honda prelude' 'datsun 200sx'
 'peugeot 505s turbo diesel' 'volvo diesel' 'toyota cressida'
 'datsun 810 maxima' 'oldsmobile cutlass ls' 'ford granada gl'
 'chrysler lebaron salon' 'chevrolet cavalier' 'chevrolet cavalier wagon'
 'chevrolet cavalier 2-door' 'pontiac j2000 se hatchback' 'dodge aries se'
 'ford fairmont futura' 'amc concord dl' 'volkswagen rabbit l'
 'mazda glc custom l' 'mazda glc custom' 'plymouth horizon miser'
 'mercury lynx l' 'nissan stanza xe' 'honda civic (auto)' 'datsun 310 gx'
 'buick century limited' 'oldsmobile cutlass ciera (diesel)'
 'chrysler lebaron medallion' 'ford granada l' 'toyota celica gt'
 'dodge charger 2.2' 'chevrolet camaro' 'ford mustang gl' 'vw pickup'
 'dodge rampage' 'ford ranger' 'chevy s-10'],
Count of unique values in car name: 305

In [6]:
import numpy as np

# Replace '?' with NaN, convert to float and then replace with median
df['horsepower'].replace('?', np.NaN, inplace=True)
df['horsepower'] = df['horsepower'].astype(float)
median_value = df['horsepower'].median()
df['horsepower'].fillna(median_value, inplace=True)

In [7]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [8]:
df.drop('car name', axis=1, inplace=True)

In [9]:
# Creating new features
df['displacement_per_cylinder'] = df['displacement'] / df['cylinders']
df['power_to_weight_ratio'] = df['horsepower'] / df['weight']
# Add the new attributes to the dataframe.
df = df[['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'power_to_weight_ratio', 'displacement_per_cylinder']]

In [39]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,power_to_weight_ratio,displacement_per_cylinder
28,9.0,8,304.0,193.0,4732,18.5,70,1,0.040786,38.000
25,10.0,8,360.0,215.0,4615,14.0,70,1,0.046587,45.000
26,10.0,8,307.0,200.0,4376,15.0,70,1,0.045704,38.375
27,11.0,8,318.0,210.0,4382,13.5,70,1,0.047923,39.750
67,11.0,8,429.0,208.0,4633,11.0,72,1,0.044895,53.625

In [10]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in {column}: {unique_values}, \nCount of unique values in {column}: {len(unique_values)}")

Unique values in mpg: [18.  15.  16.  17.  14.  24.  22.  21.  27.  26.  25.  10.  11.   9.
 28.  19.  12.  13.  23.  30.  31.  35.  20.  29.  32.  33.  17.5 15.5
 14.5 22.5 24.5 18.5 29.5 26.5 16.5 31.5 36.  25.5 33.5 20.5 30.5 21.5
 43.1 36.1 32.8 39.4 19.9 19.4 20.2 19.2 25.1 20.6 20.8 18.6 18.1 17.7
 27.5 27.2 30.9 21.1 23.2 23.8 23.9 20.3 21.6 16.2 19.8 22.3 17.6 18.2
 16.9 31.9 34.1 35.7 27.4 25.4 34.2 34.5 31.8 37.3 28.4 28.8 26.8 41.5
 38.1 32.1 37.2 26.4 24.3 19.1 34.3 29.8 31.3 37.  32.2 46.6 27.9 40.8
 44.3 43.4 36.4 44.6 40.9 33.8 32.7 23.7 23.6 32.4 26.6 25.8 23.5 39.1
 39.  35.1 32.3 37.7 34.7 34.4 29.9 33.7 32.9 31.6 28.1 30.7 24.2 22.4
 34.  38.  44. ],
Count of unique values in mpg: 129
Unique values in cylinders: [8 4 6 3 5],
Count of unique values in cylinders: 5
Unique values in displacement: [307.  350.  318.  304.  302.  429.  454.  440.  455.  390.  383.  340.
 400.  113.  198.  199.  200.   97.  110.  107.  104.  121.  360.  140.
  98.  232.  225.  250.  351.  258.  122.  116.   79.   88.   71.   72.
  91.   97.5  70.  120.   96.  108.  155.   68.  114.  156.   76.   83.
  90.  231.  262.  134.  119.  171.  115.  101.  305.   85.  130.  168.
 111.  260.  151.  146.   80.   78.  105.  131.  163.   89.  267.   86.
 183.  141.  173.  135.   81.  100.  145.  112.  181.  144. ],
Count of unique values in displacement: 82
Unique values in horsepower: [130.  165.  150.  140.  198.  220.  215.  225.  190.  170.  160.   95.
  97.   85.   88.   46.   87.   90.  113.  200.  210.  193.   93.5 100.
 105.  175.  153.  180.  110.   72.   86.   70.   76.   65.   69.   60.
  80.   54.  208.  155.  112.   92.  145.  137.  158.  167.   94.  107.
 230.   49.   75.   91.  122.   67.   83.   78.   52.   61.   93.  148.
 129.   96.   71.   98.  115.   53.   81.   79.  120.  152.  102.  108.
  68.   58.  149.   89.   63.   48.   66.  139.  103.  125.  133.  138.
 135.  142.   77.   62.  132.   84.   64.   74.  116.   82. ],
Count of unique values in horsepower: 94
Unique values in weight: [3504 3693 3436 3433 3449 4341 4354 4312 4425 3850 3563 3609 3761 3086
 2372 2833 2774 2587 2130 1835 2672 2430 2375 2234 2648 4615 4376 4382
 4732 2264 2228 2046 2634 3439 3329 3302 3288 4209 4464 4154 4096 4955
 4746 5140 2962 2408 3282 3139 2220 2123 2074 2065 1773 1613 1834 1955
 2278 2126 2254 2226 4274 4385 4135 4129 3672 4633 4502 4456 4422 2330
 3892 4098 4294 4077 2933 2511 2979 2189 2395 2288 2506 2164 2100 4100
 3988 4042 3777 4952 4363 4237 4735 4951 3821 3121 3278 2945 3021 2904
 1950 4997 4906 4654 4499 2789 2279 2401 2379 2124 2310 2472 2265 4082
 4278 1867 2158 2582 2868 3399 2660 2807 3664 3102 2875 2901 3336 2451
 1836 2542 3781 3632 3613 4141 4699 4457 4638 4257 2219 1963 2300 1649
 2003 2125 2108 2246 2489 2391 2000 3264 3459 3432 3158 4668 4440 4498
 4657 3907 3897 3730 3785 3039 3221 3169 2171 2639 2914 2592 2702 2223
 2545 2984 1937 3211 2694 2957 2671 1795 2464 2572 2255 2202 4215 4190
 3962 3233 3353 3012 3085 2035 3651 3574 3645 3193 1825 1990 2155 2565
 3150 3940 3270 2930 3820 4380 4055 3870 3755 2045 1945 3880 4060 4140
 4295 3520 3425 3630 3525 4220 4165 4325 4335 1940 2740 2755 2051 2075
 1985 2190 2815 2600 2720 1800 2070 3365 3735 3570 3535 3155 2965 3430
 3210 3380 3070 3620 3410 3445 3205 4080 2560 2230 2515 2745 2855 2405
 2830 3140 2795 2135 3245 2990 2890 3265 3360 3840 3725 3955 3830 4360
 4054 3605 1925 1975 1915 2670 3530 3900 3190 3420 2200 2150 2020 2595
 2700 2556 2144 1968 2120 2019 2678 2870 3003 3381 2188 2711 2434 2110
 2800 2085 2335 2950 3250 1850 2145 1845 2910 2420 2500 2905 2290 2490
 2635 2620 2725 2385 1755 1875 1760 2050 2215 2380 2320 2210 2350 2615
 3230 3160 2900 3415 3060 3465 2605 2640 2575 2525 2735 2865 3035 1980
 2025 1970 2160 2205 2245 1965 1995 3015 2585 2835 2665 2370 2790 2295
 2625],
Count of unique values in weight: 351
Unique values in acceleration: [12.  11.5 11.  10.5 10.   9.   8.5  8.   9.5 15.  15.5 16.  14.5 20.5
 17.5 12.5 14.  13.5 18.5 19.  13.  19.5 18.  17.  23.5 16.5 21.  16.9
 14.9 17.7 15.3 13.9 12.8 15.4 17.6 22.2 22.1 14.2 17.4 16.2 17.8 12.2
 16.4 13.6 15.7 13.2 21.9 16.7 12.1 14.8 18.6 16.8 13.7 11.1 11.4 18.2
 15.8 15.9 14.1 21.5 14.4 19.4 19.2 17.2 18.7 15.1 13.4 11.2 14.7 16.6
 17.3 15.2 14.3 20.1 24.8 11.3 12.9 18.8 18.1 17.9 21.7 23.7 19.9 21.8
 13.8 12.6 16.1 20.7 18.3 20.4 19.6 17.1 15.6 24.6 11.6],
Count of unique values in acceleration: 95
Unique values in model year: [70 71 72 73 74 75 76 77 78 79 80 81 82],
Count of unique values in model year: 13
Unique values in origin: [1 3 2],
Count of unique values in origin: 3
Unique values in power_to_weight_ratio: [0.03710046 0.04467912 0.04365541 0.04369356 0.04059148 0.04561161
 0.05052825 0.04986085 0.05084746 0.04935065 0.0477126  0.04433361
 0.03988301 0.07290992 0.04005059 0.03353336 0.03496756 0.03285659
 0.04131455 0.02506812 0.03255988 0.03703704 0.04       0.05058192
 0.03398792 0.04658722 0.04570384 0.04792332 0.04078614 0.03975265
 0.04263914 0.04569892 0.03796507 0.03053213 0.03003905 0.02665051
 0.03041363 0.03920171 0.03920251 0.03683197 0.03662109 0.03632694
 0.03581964 0.03404669 0.03713707 0.02990033 0.03046923 0.02803441
 0.03873874 0.04239284 0.03375121 0.03680387 0.03666103 0.04277743
 0.03271538 0.03580563 0.04170325 0.03762935 0.02395741 0.03737542
 0.03863432 0.03860552 0.03990878 0.0362757  0.03705498 0.04084967
 0.04489532 0.03442914 0.03590664 0.04296698 0.0416309  0.0385406
 0.03172279 0.03260363 0.03679176 0.03818616 0.03026683 0.02920443
 0.03152124 0.03590814 0.04020979 0.0387071  0.03696858 0.04190476
 0.04268293 0.03635908 0.03389411 0.03971406 0.03998384 0.03360215
 0.03621361 0.03540241 0.04540655 0.04544536 0.04579953 0.03364306
 0.03050641 0.03395586 0.02912943 0.0327135  0.02358974 0.03001801
 0.03403995 0.03652772 0.04000889 0.03585515 0.03861343 0.02998751
 0.0395124  0.04237288 0.03679654 0.04328479 0.0397351  0.0355218
 0.05376344 0.02624531 0.0347544  0.035244   0.0390516  0.04413063
 0.04135338 0.04346277 0.04912664 0.0306254  0.03252174 0.03447087
 0.02997602 0.03435897 0.03263974 0.03540305 0.02950433 0.02644803
 0.03028634 0.02906172 0.03380826 0.03192169 0.03365492 0.03018542
 0.03523608 0.03740424 0.03413143 0.03391304 0.03153426 0.03045432
 0.03529412 0.03557875 0.0333927  0.03897147 0.03889586 0.0335
 0.02910539 0.03035559 0.02097902 0.02279924 0.03641817 0.03265766
 0.03334815 0.03178012 0.02815459 0.0269438  0.02949062 0.02509908
 0.03619612 0.03415088 0.04070685 0.03454629 0.03145131 0.03431709
 0.03009259 0.03552924 0.03193882 0.03811395 0.0325067  0.03613836
 0.02802865 0.03526355 0.02975989 0.03327674 0.04305504 0.02952646
 0.0349026  0.03648649 0.03576983 0.03503326 0.03769301 0.03321471
 0.03579952 0.03028773 0.03606168 0.03093102 0.03131524 0.02689243
 0.02917342 0.02555283 0.02772643 0.02738976 0.02182429 0.03017833
 0.02975258 0.03890411 0.03517588 0.03480278 0.02807018 0.03238095
 0.03807107 0.02691131 0.03686007 0.03141361 0.04109589 0.03575832
 0.03359173 0.03994674 0.03325183 0.03712297 0.03178082 0.04173913
 0.03598972 0.03737113 0.0270936  0.03502415 0.03026775 0.03125
 0.03065693 0.02754821 0.02780142 0.04265403 0.04081633 0.04393064
 0.0343714  0.04020619 0.03211679 0.03311258 0.0323049  0.03071672
 0.03375315 0.03561644 0.03445826 0.04230769 0.04044118 0.02418136
 0.03666667 0.02619647 0.03381643 0.03333333 0.03268945 0.03748327
 0.03893557 0.02970297 0.03011094 0.02866779 0.03235294 0.02915452
 0.02803738 0.03106509 0.0276873  0.03038674 0.03519062 0.04233577
 0.0478955  0.04336973 0.03431373 0.03155452 0.03710938 0.04217391
 0.03363229 0.03777336 0.03825137 0.02977233 0.04033264 0.03639576
 0.03980892 0.0411449  0.03900293 0.03567839 0.03185012 0.03543914
 0.02842809 0.03044983 0.02756508 0.0327381  0.03385417 0.03463087
 0.03489254 0.03524804 0.03555046 0.03502713 0.03467406 0.03688312
 0.03291139 0.04177546 0.02996255 0.02181303 0.03205128 0.02225705
 0.02631579 0.03181818 0.03255814 0.03217822 0.03239437 0.03370787
 0.04431599 0.04259259 0.03521127 0.03544776 0.0304878  0.03301887
 0.03219416 0.03360717 0.03066202 0.02997003 0.02661934 0.03564899
 0.03319808 0.03779786 0.03080569 0.0375     0.02302158 0.02055675
 0.02271186 0.02061538 0.03621622 0.05095368 0.03123543 0.03360434
 0.04536082 0.04132231 0.0352     0.03218589 0.03144105 0.03373494
 0.03187856 0.0351145  0.04036697 0.03522013 0.03304843 0.03413333
 0.03409091 0.03244552 0.0302439  0.03425693 0.02844244 0.03178484
 0.02731092 0.03378995 0.04030172 0.03393665 0.03191489 0.03824092
 0.02808349 0.0247678  0.02405063 0.04095563 0.03221083 0.02818792
 0.02875817 0.02453102 0.03378119 0.03674322 0.03300971 0.03326733
 0.03290676 0.03211169 0.03080725 0.03737374 0.03358025 0.03451777
 0.02964706 0.03294118 0.04074074 0.03401361 0.0311804  0.03409669
 0.03358396 0.03735144 0.02819237 0.03558994 0.03950617 0.03602251
 0.03544304 0.03050847 0.03082437 0.02441315 0.03660131 0.03009524
 0.03014706],
Count of unique values in power_to_weight_ratio: 385
Unique values in displacement_per_cylinder: [38.375      43.75       39.75       38.         37.75       53.625
 56.75       55.         56.875      48.75       47.875      42.5
 50.         28.25       33.         33.16666667 33.33333333 24.25
 27.5        26.75       26.         30.25       45.         35.
 24.5        38.66666667 37.5        41.66666667 43.875      43.
 30.5        29.         19.75       22.         17.75       18.
 22.75       24.375      23.33333333 30.         24.         27.
 25.83333333 17.         28.5        19.         20.75       22.5
 38.5        32.75       33.5        29.75       28.75       25.25
 38.125      21.25       32.5        28.         27.75       24.33333333
 26.66666667 19.5        26.25       39.         26.2        27.16666667
 22.25       33.375      21.5        36.6        35.25       28.83333333
 24.2        36.5        33.75       20.25       25.         24.16666667
 30.16666667 43.66666667 36.        ],
Count of unique values in displacement_per_cylinder: 81

In [11]:
df.sort_values(['mpg', 'cylinders'], inplace=True)
df.head(15)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,power_to_weight_ratio,displacement_per_cylinder
28,9.0,8,304.0,193.0,4732,18.5,70,1,0.040786,38.000
25,10.0,8,360.0,215.0,4615,14.0,70,1,0.046587,45.000
26,10.0,8,307.0,200.0,4376,15.0,70,1,0.045704,38.375
27,11.0,8,318.0,210.0,4382,13.5,70,1,0.047923,39.750
67,11.0,8,429.0,208.0,4633,11.0,72,1,0.044895,53.625
103,11.0,8,400.0,150.0,4997,14.0,73,1,0.030018,50.000
124,11.0,8,350.0,180.0,3664,11.0,73,1,0.049127,43.750
42,12.0,8,383.0,180.0,4955,11.5,71,1,0.036327,47.875
69,12.0,8,350.0,160.0,4456,13.5,72,1,0.035907,43.750
90,12.0,8,429.0,198.0,4952,11.5,73,1,0.039984,53.625
95,12.0,8,455.0,225.0,4951,11.0,73,1,0.045445,56.875
104,12.0,8,400.0,167.0,4906,12.5,73,1,0.034040,50.000
106,12.0,8,350.0,180.0,4499,12.5,73,1,0.040009,43.750
43,13.0,8,400.0,170.0,4746,12.0,71,1,0.035820,50.000
44,13.0,8,400.0,175.0,5140,12.0,71,1,0.034047,50.000

In [40]:
import numpy as np
import pandas as pd

def augment_data(data):
    unique_mpg_values = data['mpg'].unique()
    new_data = []

    for mpg_value in unique_mpg_values:
        instances = data[data['mpg'] == mpg_value]
        instances_sorted = instances.sort_values('cylinders', ascending=True)

        if len(instances_sorted) > 1:
            for i in range(len(instances_sorted) - 1):
                current_instance = instances_sorted.iloc[i]
                next_instance = instances_sorted.iloc[i + 1]

                mean_displacement = np.mean([current_instance['displacement'], next_instance['displacement']])
                mean_horsepower = np.mean([current_instance['horsepower'], next_instance['horsepower']])
                mean_weight = np.int32(np.mean([current_instance['weight'], next_instance['weight']]))
                mean_acceleration = np.mean([current_instance['acceleration'], next_instance['acceleration']])

                # Add noise to the mean values
                mean_displacement += np.random.normal(0, 0.1)
                mean_horsepower += np.random.normal(0, 0.1)
                mean_weight += np.random.normal(0, 10)
                mean_acceleration += np.random.normal(0, 0.1)

                # Round the values to a reasonable precision
                mean_displacement = round(mean_displacement, 2)
                mean_horsepower = round(mean_horsepower, 2)
                mean_weight = int(round(mean_weight))
                mean_acceleration = round(mean_acceleration, 2)

                power_to_weight_ratio = mean_horsepower / mean_weight
                displacement_per_cylinder = mean_displacement / current_instance['cylinders']

                new_instance = {
                    'mpg': current_instance['mpg'],
                    'cylinders': current_instance['cylinders'],
                    'displacement': mean_displacement,
                    'horsepower': mean_horsepower,
                    'weight': mean_weight,
                    'acceleration': mean_acceleration,
                    'model year': current_instance['model year'],
                    'origin': current_instance['origin'],
                    'power_to_weight_ratio': power_to_weight_ratio,
                    'displacement_per_cylinder': displacement_per_cylinder
                }

                new_data.append(new_instance)

    return pd.DataFrame(new_data)

augmented_df = augment_data(df)
print(augmented_df)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    10.0        8.0        333.54      207.60    4497         14.55
1    11.0        8.0        373.52      209.10    4489         12.05
2    11.0        8.0        414.61      179.02    4808         12.42
3    11.0        8.0        375.02      165.04    4319         12.38
4    12.0        8.0        366.62      169.99    4692         12.44
..    ...        ...           ...         ...     ...           ...
264  37.0        4.0        101.87       78.68    2206         17.19
265  37.0        4.0         88.17       66.29    2001         18.92
266  38.0        4.0         98.01       65.05    2040         14.88
267  38.0        4.0         91.01       67.17    1978         15.48
268  38.0        4.0        176.62       75.86    2504         16.56

     model year  origin  power_to_weight_ratio  displacement_per_cylinder
0          70.0     1.0               0.046164                   41.69250
1          70.0     1.0               0.046581                   46.69000
2          72.0     1.0               0.037234                   51.82625
3          73.0     1.0               0.038213                   46.87750
4          71.0     1.0               0.036230                   45.82750
..          ...     ...                    ...                        ...
264        80.0     3.0               0.035666                   25.46750
265        81.0     3.0               0.033128                   22.04250
266        82.0     1.0               0.031887                   24.50250
267        82.0     3.0               0.033959                   22.75250
268        82.0     3.0               0.030296                   44.15500

[269 rows x 10 columns]

In [41]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Split the augmented data into features (X_augmented) and target variable (y_augmented)
X_augmented = augmented_df.iloc[ : , 1:]
y_augmented = augmented_df['mpg']

# Split the original data into features (X) and target variable (y)
X = df.iloc[ : , 1:]
y = df['mpg']

# Split the augmented data into training and testing sets
X_train_augmented, X_test_augmented, y_train_augmented, y_test_augmented = train_test_split(
    X_augmented, y_augmented, test_size=0.2, random_state=42
)

# Create and train the linear regression model on augmented data
model = LinearRegression()
model.fit(X_train_augmented, y_train_augmented)

# Test the model on the original data
test_score = model.score(X, y)
print(test_score)

0.839422324683309

In [42]:
from sklearn.preprocessing import StandardScaler

# Combine the augmented and original data
combined_df = pd.concat([augmented_df, df], ignore_index=True)

# Select the columns to be normalized
columns_to_normalize = ['displacement', 'horsepower', 'weight', 'acceleration', 'power_to_weight_ratio', 'displacement_per_cylinder']

# Create a StandardScaler object
scaler = StandardScaler()

# Fit the scaler on the combined data
scaler.fit(combined_df[columns_to_normalize])

# Transform the selected columns
combined_df[columns_to_normalize] = scaler.transform(combined_df[columns_to_normalize])

In [43]:
from sklearn.linear_model import Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor

# Split the combined data into features (X) and target variable (y)
X = combined_df.iloc[:, 1:]
y = combined_df['mpg']

# Split the combined data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Create a dictionary to store the model results
results = {'Model': [], 'Train Accuracy': [], 'Test Accuracy': []}

# Linear Regression
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)
linear_reg_train_acc = linear_reg.score(X_train, y_train)
linear_reg_test_acc = linear_reg.score(X_test, y_test)
results['Model'].append('Linear Regression')
results['Train Accuracy'].append(linear_reg_train_acc)
results['Test Accuracy'].append(linear_reg_test_acc)

# Ridge Regression
ridge_reg = Ridge()
ridge_reg.fit(X_train, y_train)
ridge_reg_train_acc = ridge_reg.score(X_train, y_train)
ridge_reg_test_acc = ridge_reg.score(X_test, y_test)
results['Model'].append('Ridge Regression')
results['Train Accuracy'].append(ridge_reg_train_acc)
results['Test Accuracy'].append(ridge_reg_test_acc)

# Lasso Regression
lasso_reg = Lasso()
lasso_reg.fit(X_train, y_train)
lasso_reg_train_acc = lasso_reg.score(X_train, y_train)
lasso_reg_test_acc = lasso_reg.score(X_test, y_test)
results['Model'].append('Lasso Regression')
results['Train Accuracy'].append(lasso_reg_train_acc)
results['Test Accuracy'].append(lasso_reg_test_acc)

# RandomForestRegressor
rf_reg = RandomForestRegressor()
rf_reg.fit(X_train, y_train)
rf_reg_train_acc = rf_reg.score(X_train, y_train)
rf_reg_test_acc = rf_reg.score(X_test, y_test)
results['Model'].append('Random Forest Regressor')
results['Train Accuracy'].append(rf_reg_train_acc)
results['Test Accuracy'].append(rf_reg_test_acc)

# Create a pandas DataFrame from the results dictionary
df_results = pd.DataFrame(results)

# Display the results
print(df_results)

                     Model  Train Accuracy  Test Accuracy
0        Linear Regression        0.869464       0.852618
1         Ridge Regression        0.867914       0.854781
2         Lasso Regression        0.804910       0.811985
3  Random Forest Regressor        0.984789       0.926528

#### Linear Regression:
The Linear Regression model achieved a good fit to the training and test data. It shows a stable performance without significant overfitting.

#### Ridge Regression:
The Ridge Regression model performed similarly to Linear Regression. Ridge regularization helps control overfitting by adding a penalty term.

#### Lasso Regression:
The Lasso Regression model achieved a lower train accuracy and test accuracy. Lasso performs feature selection by driving some coefficients to zero, which may have impacted the model's performance.

#### Random Forest Regressor:
The Random Forest Regressor demonstrated excellent performance, with a higher train accuracy and lower test accuracy . It has the potential to capture complex relationships in the data but may be prone to overfitting.

In [36]:
from sklearn.ensemble import GradientBoostingRegressor

# Random Forest Regressor
rf_reg = RandomForestRegressor()
rf_reg.fit(X_train, y_train)
rf_reg_train_acc = rf_reg.score(X_train, y_train)
rf_reg_test_acc = rf_reg.score(X_test, y_test)

# Gradient Boosting Regressor with Random Forest as base estimator
gb_rf_reg = GradientBoostingRegressor(init=rf_reg)
gb_rf_reg.fit(X_train, y_train)
gb_rf_reg_train_acc = gb_rf_reg.score(X_train, y_train)
gb_rf_reg_test_acc = gb_rf_reg.score(X_test, y_test)

# Create a dictionary to store the model results
results = {'Model': ['Random Forest Regressor', 'Gradient Boosting with Random Forest'],
           'Train Accuracy': [rf_reg_train_acc, gb_rf_reg_train_acc],
           'Test Accuracy': [rf_reg_test_acc, gb_rf_reg_test_acc]}

# Create a pandas DataFrame from the results dictionary
df_results = pd.DataFrame(results)

# Display the results
print(df_results)

                                  Model  Train Accuracy  Test Accuracy
0               Random Forest Regressor        0.984459       0.922066
1  Gradient Boosting with Random Forest        0.994235       0.927118

In [44]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import make_scorer

# Define the parameter grid for Gradient Boosting Regressor
param_grid = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.01, 0.1, 0.5],
    'max_depth': [2, 3, 4],  
    'subsample': [0.7, 0.8, 0.9], 
}

# Define the scoring metric (R-squared)
scorer = make_scorer(lambda y_true, y_pred: np.corrcoef(y_true, y_pred)[0, 1] ** 2)

# Create the RandomizedSearchCV object
random_search = RandomizedSearchCV(
    GradientBoostingRegressor(init=rf_reg),
    param_distributions=param_grid,
    n_iter=10,
    scoring=scorer,
    cv=5,
    random_state=42,
)

# Fit the RandomizedSearchCV on the training data
random_search.fit(X_train, y_train)

# Get the best model and its performance
best_model = random_search.best_estimator_
best_model_train_acc = best_model.score(X_train, y_train)
best_model_test_acc = best_model.score(X_test, y_test)

# Print the best hyperparameters and performance
print("Best Hyperparameters:")
print(random_search.best_params_)
print("Train Accuracy:", best_model_train_acc)
print("Test Accuracy:", best_model_test_acc)

Best Hyperparameters:
{'subsample': 0.8, 'n_estimators': 200, 'max_depth': 4, 'learning_rate': 0.01}
Train Accuracy: 0.9909293601236613
Test Accuracy: 0.9286689658918296